@import "../global.scss";

$my-color: rgb(180, 180, 180);

:root{
    --my-color: $my-color;
}

.project-button{
    color: $second-text-color;
    background-color: $second-panel-color;
    padding: 5px;
    border-radius: 10px;
    border-color: $second-panel-color;
    border-style: solid;
    border-width: 1.5px;
    height: 20px;
    cursor: pointer;
    /*non selection text*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
   
}

@media (max-width: 1250px) {
    .project-button{
        font-size: 0.75rem;
        white-space: nowrap;
    }
}

@media (max-width: $mobile-width) {
    .project-button{
        height: 17px;
        margin-left: 30px;
        width: 50px;
        padding: 0px;
        font-size: 0.4rem;
        white-space: nowrap;
    }
}

.project-button:hover{
    filter: brightness(140%);
}

.project-button:active{
    filter: brightness(85%);
}