/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

$light-panel-color: rgba(255, 255, 255, 0.404);
$dark-panel-color: rgba(46, 199, 0, 0.404);



$global-font: 'Tahoma, Verdana, Segoe, sans-serif; font-style: normal; font-variant: normal; line-height: 26.4px';

$mobile-width: 600px;


  




:root{
    .theme-light {
        --panel-color: rgba(255, 255, 255, 0.404);
        --second-panel-color: rgba(255, 255, 255, 0.514);
        --text-color: black;
        --second-text-color: black;
        --background: url("../public/images/main-background-light.png") no-repeat center center fixed;
      }
      
      .theme-dark {
        --panel-color: rgba(0, 0, 0, 0.404);
        --second-panel-color: rgba(80, 98, 124, 0.514);
        --text-color: white;
        --second-text-color: white;
        --background: url("../public/images/main-background-dark.png") no-repeat center center fixed;
      }
      
      :root {
        --background: var(--background-light); /* Default to light mode */
        --panel-color: rgba(255, 255, 255, 0.404);
        --second-panel-color: rgba(255, 255, 255, 0.514);
        --text-color: black;
        --second-text-color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background: var(--background) no-repeat center center fixed;
      }
} 

.App-light {
    text-align: center;
    background: url("../public/images/main-background-light.png") no-repeat center center fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
            
    height: 100vh;
  width: 100vw;
}

.App-dark {
    text-align: center;
    background: url("../public/images/main-background-dark.png") no-repeat center center fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
            
    height: 100vh;
  width: 100vw;
}

    .theme-light{
        --panel-color: rgba(255, 255, 255, 0.404);
        --second-panel-color: rgba(255, 255, 255, 0.514);
        --text-color: black;
        --second-text-color: black;

    }
    
    .theme-dark{
        --panel-color: rgba(0, 0, 0, 0.404);
        --second-panel-color: rgba(80, 98, 124, 0.514);
        --text-color: white;
        --second-text-color: white;
      
    }


$panel-color: var(--panel-color);
$second-panel-color: var(--second-panel-color);
$text-color: var(--text-color);
$second-text-color: var(--second-text-color);
$background: var(--background);

/////////////////
// identifiers //
/////////////////

.footer{
    justify-content: right;
    display: flex;
    position:absolute;
    bottom: 120px;
    width:100%;
    height:60px;   /* Height of the footer */

    .config-section{
        margin: 4px;
        position: fixed;
        justify-content: space-around;
    }
}

@media (max-width: $mobile-width)  {
    .footer{
        justify-content: right;
        width:100%;
        .config-section{
            margin-right: 110px;
        }
        
    }
}

/////////////
// classes //
/////////////

.home{
    display: "flex";
    justify-content: "center";
    margin-right: "auto";
    margin-left: "auto";
}

@media (max-width: $mobile-width)  {
    .home{
        margin-right: -90px;
    }
}

.panels{
    justify-content: center;
    display: flex;
}


.project-name-section{
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    color: $text-color;
    .project-name-elements{
        display: flex;
        justify-content: left;
    }
    .project-name-change{
        background-color: transparent;
        height: 35px;
        overflow-y: hidden;
        color: $text-color;
        font-size: 2rem;
        resize: none;
        border: none;
        outline: none;
    }
}

.panels-container{
    display: flex;
    justify-content: left;
}

@media (max-width: $mobile-width)  {
    .project{
        margin-left: 100px;
    }
    .panels-container{
        display: block;
        justify-content: left;
    }
}

.big-title-text{
    color: $text-color;
    font-size: 2rem;
}


//////////////
// elements //
//////////////


body {
    margin: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif; font-style: normal; font-variant: normal; line-height: 26.4px;

}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  

ver{
    color: white;
}


//////////
// misc //
//////////

/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: black;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
  }

  
  ::-webkit-scrollbar-thumb:hover {
    color: rgb(158, 158, 158);
  }
