/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

$light-panel-color: rgba(255, 255, 255, 0.404);
$dark-panel-color: rgba(46, 199, 0, 0.404);



$global-font: 'Verdana, sans-serif';

$mobile-width: 600px;







:root{
    .theme-light {
        --panel-color: rgba(255, 255, 255, 0.404);
        --second-panel-color: rgba(255, 255, 255, 0.514);
        --text-color: black;
        --second-text-color: black;
        --solid-color: rgba(255, 255, 255, 0.973);
      }
      
      .theme-dark {
        --panel-color: rgba(0, 0, 0, 0.404);
        --second-panel-color: rgba(80, 98, 124, 0.514);
        --text-color: white;
        --second-text-color: white;
        --solid-color: rgba(0, 0, 0, 0.932);
      }
      
      :root {
        --panel-color: rgba(255, 255, 255, 0.404);
        --second-panel-color: rgba(255, 255, 255, 0.514);
        --text-color: black;
        --second-text-color: black;
      }
      user-select: none; /* Standard syntax */
} 

.App-light{
    text-align: center;
    --background: url("../public/images/main-background-light.png") no-repeat center center fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
}
@media (prefers-color-scheme: light) {
    .theme-b.adaptive {
      background: #bcd;
      color: #334;
      outline: 5px dotted #000;
    }
  }
 .App-dark{
    text-align: center;
    --background: url("../public/images/main-background-dark.png") no-repeat center center fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



$panel-color: var(--panel-color);
$second-panel-color: var(--second-panel-color);
$text-color: var(--text-color);
$second-text-color: var(--second-text-color);
$solid-color: var(--solid-color);
$background: var(--background);


html, body {
    height: 100vh;
    width: 100vw;
    background:var(--background);
}
/////////////////
// identifiers //
/////////////////

.footer{
    justify-content: right;
    display: flex;
    position:absolute;
    bottom: 120px;
    width:100%;
    height:60px;   /* Height of the footer */

    .config-section{
        margin: 4px;
        position: fixed;
        justify-content: space-around;
    }
}

@media (max-width: $mobile-width)  {
    .footer{
        display: sticky;
        justify-content: right;
        width:100%;
        .config-section{
            margin-right: 90px;
            margin-top: 2px;
        }
        
    }
}

/////////////
// classes //
/////////////

.home{
    justify-content: center;
    display: flex;
    justify-content: center;
}

.home-elements{
    position: absolute;
    /* we adjust the top and bottom values relative to the viewport setted on height, so it gets absolutely centered in screen*/
    top: 40vh;
    bottom: 30vh;
}
@media (max-width: $mobile-width)  {
    .home{
        margin-right: -90px;
    }
}

.panels{
    justify-content: center;
    display: flex;
}


.project-name-section{
    margin-top: 30px;
    @media (max-width: $mobile-width)  {
        position: fixed;
        top: 0;
    }
    margin-left: 30px;
    display: flex;
    color: $text-color;
    .project-name-elements{
        display: flex;
        justify-content: left;
    }
    .project-name-change{
        background-color: transparent;
        height: 35px;
        overflow-y: hidden;
        color: $text-color;
        font-size: 2rem;
        resize: none;
        border: none;
        outline: none;
    }
}

.panels-container{
    display: flex;
    justify-content: left;
}

@media (max-width: $mobile-width)  {
    .project{
        margin-left: 84px;
    }
    .panels-container{
        
        display: inline-block;
        justify-content: left;
    }
}

.big-title-text{
    color: $text-color;
    font-size: 2rem;
}


//////////////
// elements //
//////////////


body {
    background-color: grey;
    overflow-y:auto;
    position: fixed;
    bottom: 0;
    margin: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif; font-style: normal; font-variant: normal; line-height: 26.4px;

}
@media (max-width: $mobile-width)  {
    body{
        overflow-x: hidden;
    }
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  

ver{
    color: white;
}


//////////
// misc //
//////////

/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: black;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
  }

  
  ::-webkit-scrollbar-thumb:hover {
    color: rgb(158, 158, 158);
  }
