@import '../global.scss';

.panel{
   padding: 10px;
    text-align: left;
    width: 8.12cm;
    color: $text-color;
    background-color: $panel-color;
    border-radius: 10px;
    border-color: rgba(0, 119, 255, 0.425);
    margin: 20px;
    .title{
        display: flex;
        justify-content: space-between;
        div{
            font-size: 1.5rem;
        }
    }
    @media (max-width: $mobile-width)  {
        width: 7cm;
    }
}
