@import '../global.scss';

.navbar{
    position: fixed;
    width: 100%;
    background-color: black;
    margin: 0px;
    z-index: 2;
    li{
        margin: 0px;
    }
}

.nav-buttons{
    display: flex;
}

@media (max-width: $mobile-width)  {
    .navbar{
        width: 40px;
        height: 100%;
    }
    .nav-buttons{
        display: block;
        margin: 10px;
        ul{
            margin-left: -100px;
            margin-top: 40px;
        }
    }
}

